<!DOCTYPE html>
<html lang="en">
<head>
    <title>JSHint Report</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <table class="table table-hover">
        <tr>
            <th class="text-center">Code</th>
            <th class="text-center">Line</th>
            <th class="text-center">Column</th>
            <th>Evidence</th>
            <th>Reason</th>
        </tr>
        <tr><td colspan="5"><b>test.js</b></td></tr><tr class="danger">
    <td class="text-center">E007</td>
    <td class="text-center">3</td>
    <td class="text-center">5</td>
    <td><code>    console.log&#40;&quot;yolo&quot;&#41;;</code></td>
    <td>Missing &quot;use strict&quot; statement.</td>
</tr><tr class="danger">
    <td class="text-center">E007</td>
    <td class="text-center">6</td>
    <td class="text-center">19</td>
    <td><code>    var x &#61; &quot;test&quot;;</code></td>
    <td>Missing &quot;use strict&quot; statement.</td>
</tr><tr class="danger">
    <td class="text-center">E007</td>
    <td class="text-center">7</td>
    <td class="text-center">20</td>
    <td><code>    var foo &#61; &quot;bar&quot;;</code></td>
    <td>Missing &quot;use strict&quot; statement.</td>
</tr><tr class="danger">
    <td class="text-center">E007</td>
    <td class="text-center">8</td>
    <td class="text-center">3</td>
    <td><code>  &#125;</code></td>
    <td>Missing &quot;use strict&quot; statement.</td>
</tr><tr class="warning">
    <td class="text-center">W033</td>
    <td class="text-center">8</td>
    <td class="text-center">4</td>
    <td><code>  &#125;</code></td>
    <td>Missing semicolon.</td>
</tr>
    </table>
    <div class="well">
    Found <span class="label label-default">5</span> failures - <span class="label label-danger">4 errors</span> &amp; <span class="label label-warning">1 warnings</span>
</div>
</div>

</body>
</html>