<style type="text/css">
  .eslint-report {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
  }


  .eslint-report h2 {
    /*border-bottom: 1px solid #e6e6e6;*/
    padding-bottom: 6px;
    line-height: 1;
    margin-top: 24px;
    margin-bottom: 18px;
  }

  .eslint-report dt {
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    white-space: nowrap;
    font-weight: bold;
  }

  .eslint-report dd {
    margin-left: 140px;
  }

  .report-table {
    border-collapse: collapse;
    font-size: 14px;
  }

  .report-table + .report-table {
    margin-top: 12px;
  }

  .report-table thead {
    background-color: #eee;
  }

  .report-table th {
    text-align: left;
    vertical-align: middle;
  }

  .report-table th,
  .report-table td {
    padding: 4px 9px;
    border: 1px solid #e6e6e6;
  }

  .report-table tbody tr:hover {
    background-color: #efefef;
  }

  .report-table td {
    line-height: 1.5;
    vertical-align: top;
  }

  .danger td {
    background-color: #f2dede;
  }

  .warning td {
    background-color: #fcf8e3;
  }

  .success td {
    background-color: #dff0d8;
  }

</style>

<div class="eslint-report">
  <h1>ESLint Report</h1>

  {{> summary summary}}

  <h2>File Breakdown</h2>

  <table class="report-table">
    <thead>
      <tr>
        <th>File</th>
        <th>Errors</th>
        <th>Warnings</th>
      </tr>
    </thead>
    <tbody>
      {{#each fileSummary}}
        {{#row this}}
          <td>{{file}}</td>
          <td>{{errors}}</td>
          <td>{{warnings}}</td>
        {{/row}}
      {{/each}}
    </tbody>
  </table>

</div>
