<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ESLint HTML Report</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>

  {{> css}}

  <div class="eslint-report">
    <h1>ESLint Report</h1>

    {{> summary summary}}

    {{> fileBreakdown files}}
  </div>
</body>
</html>
