<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {{> css}}

  {{#if fullReport}}
    {{> js}}
  {{/if}}
</head>
<body>
  <div class="eslint-report">
    <h1>{{pageTitle}}</h1>

    {{> summary summary}}

    {{> fileBreakdown this}}
  </div>
</body>
</html>
