<h2>Summary</h2>

<dl>
  <dt>Files scanned</dt>
  <dd>{{files}}</dd>
  <dt>Total messages</dt>
  <dd>{{messages}}</dd>
  <dt>Errors</dt>
  <dd>{{errors}}</dd>
  <dt>Warnings</dt>
  <dd>{{warnings}}</dd>
</dl>
